.container 
    if productos.length > 0
        .row 
            table.table 
                thead
                    tr 
                        th(scope="col") Nombre
                        th(scope="col") Precio
                        th(scope="col") Imagen
                tbody 
                    each val in productos
                        tr
                            td= val.title
                            td= `$${val.price}`
                            td
                                img(src=val.thumbnail style="width: 3.5rem; height: 3.5rem")
    else 
        .row(class="mt-3")
            h2(class="bg-dark text-light text-center p-2") No hay productos!

    .row 
        a(class="btn btn-dark mt-4" href="../../") Volver