<div class="container">
    <h2>Chat</h2>
    <div class="container bg-secondary rounded" style="height: 45vh; overflow-y: scroll" id="contenedorMensajes">
    </div>

    <form class="row mt-4 mb-4" onsubmit="return enviarMensaje(event)">
        <div class="col-9">
            <textarea name="mensaje" id="inputMensaje" rows="5" class="form-control"></textarea>
        </div>
        
        <div class="col-auto">
            <input type="email" class="form-control" placeholder="Email" id="inputEmail" required>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </form>
</div>