`<div class="row flex-column">
    <div class=${clases}>
        <h5 class="text-primary fw-bold m-0 bg-dark p-2">${email} / <span style="color: brown">${date}</span></h5>
    </div>
    
    <div class=${clases}>
        <p class="bg-light fst-italic text-success p-2">${message}</p>
    </div>
</div>`