<div class="container" id="tablaProductos">
  <h2>Tabla de Productos</h2>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody id="contenedorProductos">
      </tbody>
    </table>
  </div>
</div>
